
<%%# Used to create a new <%= model_class %> %>
<div class="box p-10">
  <div class="p-10 text-color-blue fs-18 mb-20">
    Create a New <%= instance_title %>
  </div>
	<%%= render 'form' %>
</div>

