<div class="navbar" id="nav1">
  <div class="row">
    <a class="toggle" gumby-trigger="#nav1 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="four columns logo">
      <a href="#">
        <!-- <img src="img/gumby_mainlogo.png" gumby-retina=""> -->
        <%= application_name -%>
      </a>
    </h1><!-- /.four columns logo -->
    <ul class="eight columns">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li>
        <a href="#">Dropdown</a>
        <div class="dropdown">
          <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
            <li>
              <a href="#">Item 6 - (Nested)</a>
              <div class="dropdown">
                <ul>
                  <li><a href="">Nested Item 1</a></li>
                  <li><a href="">Nested Item 2</a></li>
                  <li><a href="">Nested Item 3</a></li>
                  <li><a href="">Nested Item 4</a></li>
                  <li><a href="">Nested Item 5</a></li>
                </ul>
              </div>
            </li>
            
          </ul>
        </div>
      </li>
      <li class="field"><input class="search input" type="search" placeholder="Search"></li>
    </ul><!-- /.eight columns -->
  </div><!-- /.row -->
</div><!-- /.navbar -->
	
